table,
th,
td {
    border: 1px solid orange;
}

th {
    background-color: rgb(9, 214, 221);
}

tr {
    background-color: burlywood;
}

.table-2 {
    position: relative;
    top: 100px;
}